<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Appointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
   <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand text-capitalize" href="#">Doctor's Appointment</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
           <li class="nav-item">
          <a class="nav-link" th:href="@{/appointedDoc}"> <i class="mr-1" aria-hidden="true"></i>Home</a>
        </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/patientList}"><i class=" mr-1" aria-hidden="true"></i>Book Appointment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}"><i class=" mr-1" aria-hidden="true"></i>Logout</a>
            </li>
          </ul>
        </div>
      </nav>
   </header> 
   <section class="container.fluid pt-3">
    <table class="table table-light table-hover">
        <thead class="bg-primary">
          <tr>
            <th>Patient's Name</th>
              <th>Appointment Type</th>
            <th>Appointment Date</th>
              <th> Appointment Time</th>
            <th>Cancel Appointment?</th>
          </tr>
        </thead>
        <tbody>
          <tr valign="top" th:each="app:${appointments}">
			
			<td valign="top" th:text="${app.name}"type="text">Name</td>
              <td valign="top" th:text="${app.appType}">Appointment Type</td>
              <td valign="top" th:text="${app.date}">Date</td>
              <td valign="top" th:text="${app.slot}" >Slot </td>
			<form method="POST" th:action="@{/cancel}">
			<input type="hidden" name="appId" th:value="${app.appId}">
			<td><button type="submit" value="value" class="link-button">Cancel</button></td>
			</form>
			<td>
</td>

</tr>
        </tbody>
      </table>
   </section>
   <footer>
       <p></p>
   </footer>

</body>
</html>